* {
    margin: 0;
    padding: 0;
    
  }
  
  body {
    background-color: #E4E4D0;
  }
  nav {
    height: 80px;
    background-color: #94A684;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    float: right;
    margin-right: 30px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
     
  }
  
  h1 {
    padding: 0 50px;
    color: #606C5D;
  
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    line-height: 80px;
  }
  .but {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
  
    color: rgb(122, 137, 117);
    background-color: #E4E4D0;
    border-radius: 10px;
    padding: 10px;
  
    width: 100px;
    font-size: 10px;
    text-align: center;
  
    border: 2px solid rgb(122, 137, 117);
  }
  .menu {
      font-weight: bold;
       
      
  }
  .transform:hover{
      bottom: 0;
      opacity: 1;
      transition: 0.5s;
      transform: scale(1.1);
      text-align: center;
  }
  .h2 {
    color: #606C5D;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
  }
  
  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .description {
    background-color: #FAF1E4;
    width: 200px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    flex-direction: column;
    border: rgb(213, 208, 208) solid 2px;
  }
  
  img {
    width: 200px;
    height: 150px;
    
  }
  .links {
    
    background-color: #E4E4D0;
    padding: 5px;
    border-radius: 2px;
  }
  p{
    font-style: italic;
    font-weight: lighter;
    display: flex;
    justify-items: center;
    text-align: center;
  }
  @media only screen and ( max-width:700px)
  {
    nav ul {
      width: 100%;
      position: absolute;
    }
    nav ul li{
      display: block;
    }
    nav ul li a{
      color: bisque;
    }

  }